@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

}
nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0,0,0,.5);
    z-index: 10;
}
.navbar-brand{
    font-weight: 600;
}
.nav-link{
    color: white !important;
    border-bottom: 1px solid transparent;
}
.nav-link:hover{
    border-bottom: 1px solid white;
}
section{
    width: 100%;
    min-height: 100vh;
    
}
 
/* Home */

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #213e5a no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    padding-top: 1rem;
    

}


.home img{
height: 400px;
width: 400px;
border-radius: 50%;
overflow: hidden;
border: 15px solid#444;
box-shadow: 5px 7px 25px rgba(0,0,0,.5);
filter: drop-shadow(0px 30px 15px rgba(0,0,0,.4));
}
.hero-img img{
    height: 50%;
    width: 50%;
    transition: 0.5s;
}
/* .img img:hover{
    transform: scale(1.2);
    
} */

.home-content{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.home-content h5 {
    color: #e5e5e5;
    font-size: 35px;
    
}
.home-content h5 span {
    color: #000;
    font-size: 45px;
    
}

.home-content h3 {
    color: #fff;}

.home-content h1 {
    color: #e5e5e5;
    font-size: 35px;
    
} 

.home-content h4 {
    color: #000;
    font-size: 25px;
    font-weight: 10px;
    
}
.home-content .home-sci i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(0, 183, 255);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;

}
.home-content .home-sci i:hover {
    background: rgb(0, 183, 255);
    color: #081b29;
    box-shadow: 0 0 20px rgb(4, 93, 128);
    /* transform: rotate(300deg); */
}
@media(max-width:768px) {
    .home {
        flex-direction: column;
        padding-top: 2rem;
    }
    .home-content {
        padding-top: 40px 0;
    }
    .img {
        padding-top: 40px 0;
    }
}



/* about */

.about{
    background: grey;
    padding: 5%;
}
.about h1{
    color: blue;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 50px;
    padding-top: 70px;

}

.about p{
    color: #000;
    font-weight: 20px;
    font-size: 30px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-top: 70px;
    letter-spacing: 1px;
}

.about p span{
    color: red;
}
    /* skills */

#skills{
    padding-top: 5%;
    background: #e5e5e5;
}    

#skills .container{
    margin-top: 6%;
    margin-bottom: 6%;

}

label{
    font-size: 20px;
    color: black;
}

.progress{
    height: 30px !important;
    box-shadow: 2px 4px 5px gray, -2px -4px 5px white;
}
    
.progress:hover{
    box-shadow: 2px 4px 5px white, -2px -4px 5px gray;

}
/*project new*/
.main-text{
    padding-top: 130px;
    margin-top: 200px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span {
    color: rgb(38, 0, 255);

}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),gray);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 20px;
    line-height: 1.0;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50;
}

.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}

/* contact */


.contact-section{
    background: #213e5a;
    background-size: cover;
    padding: 40px 0;
    height: 100vh;
    text-align: center;
    width: 100%;

}
.contact-section h1{
   text-align: center;
   color: #fff; 
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 70px 10px;
    overflow: hidden;
    
} 
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
 
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact-form-btn:hover {
    background: #2980b9;
}
